.footer {
  background-color: #C8102E;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


body {
  background-color: white
}

.navbar {
  background-color: #C8102E;
  color: #FFFFFF;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.boton {
  background-color: #C8102E;
  color: white;
  text-align: center;
}