#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
  background-color: #FFA500;

}

.navbar {
  background-color: #FFA500;
}

button {
  color: red;
  border-color: white;
  background-color: aliceblue;

}

body {
  background-color: #C8102E;
}